.header {
  box-shadow: 0 5px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  background-color: white;
  @include flexcenter;
  height: 80px;
  width: 100%;
  & a {
    text-decoration: none;
    @include flexcenter;
  }
  &_logo {
    font-family: "Shrikhand", cursive;
    margin: 0;
    color: black;
  }
}
/* Header menus */
.header_menus {
  height: 80px;
  z-index: 5;
  background: white;
  &--icone {
    position: absolute;
    top: 30px;
    left: 10px;
  }
  & h1 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1100px) {
  .header {
    box-shadow: 0 0 0;
  }
  .header a {
    box-shadow: inset 10px 6px 30px rgba(0, 0, 0, 0.2);
    width: 70%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
