/* Spinner */
.spinner {
  height: 100%;
  background: white;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  animation: spinner 1s linear;
  visibility: hidden;
}
.spinner_border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid transparent;
  border-top: 10px solid #9356dc;
  border-bottom: 10px solid #ff79da;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spinner_border 1s linear;
  z-index: 20;
  visibility: hidden;
}
.spinner_center {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #99e2d0;
}

@keyframes spinner {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spinner_border {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
  }
}
/* Localisation */
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
  color: #7a7a7a;
}
.location_legend {
  margin-left: 13px;
  font-weight: 400;
}

/* Localisation */
.legend {
  background: #fafafa;
  width: 100%;
}
.legend_contain {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.legend_title {
  text-align: center;
  max-width: 250px;
  margin: 0;
}
.legend_text {
  text-align: center;
}

/* Functionnement */
.function_contain {
  padding: 25px 0;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.function {
  width: 90%;
  max-width: 1200px;
  background: white;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.function_title {
  margin: 0;
}
.function_item {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  height: 100%;
  width: 100%;
  margin: 10px 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: 0.3s;
}
.function_item:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  background: #f2eafb;
}
.function_item:hover .fas {
  color: #9356dc;
}
.function_number {
  background: #9356dc;
  color: white;
  position: absolute;
  padding: 3px 8px 3px 8px;
  border-radius: 500px;
  transform: translateX(-50%);
}
.function_icone {
  color: #7e7e7e;
  margin: 0 20px;
}

.function_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Restaurants */
.restaurants {
  background: #f6f6f6;
  width: 100%;
  padding: 20px;
}
.restaurants_cards {
  position: relative;
  margin: auto;
  width: 70%;
  height: 300px;
  border-radius: 20px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.restaurants_cards:hover {
  transform: scale(1.02);
  box-shadow: 0 0 5px 0 black;
}
.restaurants_card--image {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 220px;
  position: relative;
}
.restaurants_card--image .new {
  position: absolute;
  left: 70%;
  bottom: 70%;
  width: 25%;
  background: #99e2d0;
  color: #1b6150;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurants_card--image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants_legend {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  border-radius: 0 0 20px 20px;
}
.restaurants_legend--infos {
  margin-left: 20px;
  line-height: 25px;
}
.restaurants_legend--infos > :first-child {
  font-weight: 700;
}
.restaurants_legend--icone {
  margin-right: 20px;
}
.restaurants_legend--icone .full {
  color: transparent;
  position: absolute;
  top: 260px;
  transition: 400ms;
}
.restaurants_legend--icone .full:hover {
  color: #ff79da;
}

@media screen and (min-width: 1100px) {
  .restaurants_cards {
    margin: 0;
    width: 20%;
  }

  .restaurants_title {
    display: flex;
    justify-content: center;
  }

  .restaurants_block {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
  }

  .location {
    margin: auto;
    width: 70%;
  }

  .legend {
    margin: auto;
    width: 70%;
  }

  .function_contain {
    width: 30%;
    margin: auto;
  }
}
.main_head {
  width: 100%;
  height: 400px;
  position: relative;
  top: -40px;
  z-index: -1;
}
.main_head img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_block {
  background: #f3f3f3;
  border-radius: 35px 35px 0 0;
  position: relative;
  top: -100px;
  display: flex;
  flex-direction: column;
}

.main_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px;
  font-size: 1.5rem;
  font-family: "Shrikhand";
}
.main_title .main_head-heart {
  padding-right: 10px;
}
.main_title .full {
  position: absolute;
  top: 74px;
  color: transparent;
  transition: 600ms ease;
  cursor: pointer;
}
.main_title .full:hover {
  color: #ff79da;
}
.main_title .full:hover .empty {
  display: none;
}

.main_choice {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}
.main_choice-title .main_choice-title-title {
  font-weight: 400;
  margin-left: 20px;
  text-transform: uppercase;
  border-bottom: 4px solid #99e2d0;
  width: 60px;
}
.main_choice .main_bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  padding: 20px;
}
.main_choice .main_flatandprice {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: white;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: 200ms ease-in-out;
  box-shadow: 0 0 5px 0 black;
}
.main_choice .main_flatandprice:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 6px black;
}
.main_choice .main_flatandprice:hover .main_price {
  animation: slide-left 0.6s both;
}
.main_choice .main_flatandprice:hover .main_icone {
  background: #99e2d0;
  position: absolute;
  border-radius: 0 25px 25px 0;
  display: flex;
  width: 15%;
  animation: scale 0.6s both;
  transform-origin: right;
}
.main_choice .main_flatandprice:hover .main_icone i {
  animation: rotate 400ms both;
}
.main_choice .main_flatandprice:hover .main_flat-title {
  width: 60%;
}
.main_choice .main_flatandprice:hover .main_flat-subtitle {
  width: 60%;
}
.main_choice .main_flatandprice .main_flat {
  width: 80%;
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main_choice .main_flatandprice .main_flat-title {
  width: 80%;
  font-weight: bold;
  font-size: 1.3rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 10px 0 0 10px;
}
.main_choice .main_flatandprice .main_flat-subtitle {
  width: 80%;
  font-size: 1.1rem;
  margin-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0px 0 5px 10px;
}
.main_choice .main_flatandprice .main_price {
  position: relative;
  width: 20%;
  font-weight: bold;
}
.main_choice .main_flatandprice .main_price-scale {
  padding-left: 40px;
}
.main_choice .main_flatandprice .main_icone {
  height: 100%;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  right: 0px;
  padding: 0 13px;
}

.opacity {
  animation: opacity 1s both;
}

@keyframes scale {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-90%);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
#case-1 {
  animation-delay: 0.1s;
}

#case-2 {
  animation-delay: 0.2s;
}

#case-3 {
  animation-delay: 0.3s;
}

#case-4 {
  animation-delay: 0.4s;
}

#case-5 {
  animation-delay: 0.5s;
}

#case-6 {
  animation-delay: 0.6s;
}

#case-7 {
  animation-delay: 0.7s;
}

#case-8 {
  animation-delay: 0.8s;
}

#case-9 {
  animation-delay: 0.9s;
}

#case-10 {
  animation-delay: 1s;
}

@media screen and (min-width: 1100px) {
  .mainbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .main_choice {
    width: 30%;
  }

  .main_flat {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .main_flatandprice {
    width: 100%;
  }
}
.btn {
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: white;
  padding: 0 20px;
  border-radius: 200px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.03);
  transition: 0.3s;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.btn_command {
  width: 40%;
  margin: 50px auto;
}
.btn_command .btn {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1100px) {
  .btn_command {
    width: 10%;
  }
}
body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

* a {
  text-decoration: none;
  color: black;
  width: 100%;
}

.header {
  box-shadow: 0 5px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
}
.header a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_logo {
  font-family: "Shrikhand", cursive;
  margin: 0;
  color: black;
}

/* Header menus */
.header_menus {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background: white;
}
.header_menus--icone {
  position: absolute;
  top: 30px;
  left: 10px;
}

@media screen and (min-width: 1100px) {
  .header {
    box-shadow: 0 0 0;
  }

  .header a {
    box-shadow: inset 10px 6px 30px rgba(0, 0, 0, 0.2);
    width: 70%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.footer {
  width: 100%;
  height: 100%;
  background: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_block {
  display: inline;
  padding: 0 40px;
  width: 100%;
}
.footer_block--items {
  display: inline-flex;
  flex-direction: column;
  width: auto;
}
.footer_block--item {
  display: inline-flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  color: white;
  height: 30px;
  cursor: pointer;
}
.footer_block--item i {
  margin-right: 7px;
}
.footer_block--item a {
  color: white;
}
.footer_block--item a:hover {
  color: #ff79da;
}
.footer_block--item:hover {
  color: #ff79da;
}
.footer_logo {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  padding: 15px 0;
}
.footer_logo a {
  color: white;
}
.footer_logo a:hover {
  color: #9356dc;
}

@media screen and (min-width: 1100px) {
  .footer_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    gap: 30px;
  }

  .footer_block--items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
