.main_head {
  width: 100%;
  height: 400px;
  position: relative;
  top: -40px;
  z-index: -1;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.main_block {
  background: $background-location;
  border-radius: 35px 35px 0 0;
  position: relative;
  top: -100px;
  display: flex;
  flex-direction: column;
}

.main_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 1.5rem;
  font-family: "Shrikhand";
  & .main_head-heart {
    padding-right: 10px;
  }
  & .empty {
    color: gray;
  }
  & .full {
    position: absolute;
    top: 74px;
    color: transparent;
    transition: 600ms ease;
    cursor: pointer;
    &:hover {
      color: $color-secondary;
    }
  }
}

.main_choice {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  &-title .main_choice-title-title {
    font-weight: 400;
    margin-left: 20px;
    text-transform: uppercase;
    border-bottom: 4px solid $color-tertiary;
    width: 60px;
  }
  & .main_bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
  }
  & .main_flatandprice {
    width: 95%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: white;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    &:hover {
      box-shadow: 0 5px 6px black;
      & .main_price {
        animation: slide-left 400ms both;
      }
      & .main_icone {
        background: $color-tertiary;
        position: absolute;
        display: flex;
        align-items: center;
        border-radius: 0 25px 25px 0;
        width: 20%;
      }
      & .main_icone i {
        animation: rotate 400ms both;
      }
    }
    & .main_flat {
      padding-left: 20px;
      width: 100%;
      height: 100%;
      &-title {
        font-weight: bold;
        font-size: 1.3rem;
      }
      &-subtitle {
        font-size: 1.1rem;
      }
    }
    & .main_price {
      width: 13%;
      font-weight: bold;
    }
    & .main_icone {
      height: 100%;
      position: absolute;
      display: none;
      justify-content: center;
      align-items: center;
      color: white;
      right: 0px;
      width: 100%;
    }
  }
}

.opacity {
  animation: opacity 1s both;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

#case-1 {
  animation-delay: 0.1s;
}
#case-2 {
  animation-delay: 0.2s;
}
#case-3 {
  animation-delay: 0.3s;
}
#case-4 {
  animation-delay: 0.4s;
}
#case-5 {
  animation-delay: 0.5s;
}
#case-6 {
  animation-delay: 0.6s;
}
#case-7 {
  animation-delay: 0.7s;
}
#case-8 {
  animation-delay: 0.8s;
}
#case-9 {
  animation-delay: 0.9s;
}

.btn_command {
  width: 40%;
  margin: 50px auto;
  & .btn {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1100px) {
  .mainbox {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }
  .main_block {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
  }
  .main_choice {
    width: 50%;
  }

  .main_flat {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    &-subtitle {
      margin-top: 0;
      text-overflow: ellipsis;
      & p {
        overflow: hidden;
      }
    }
  }

  .main_title {
    width: 100%;
    & h1 {
      margin-left: 20px;
    }
    & .main_head-heart {
      margin-right: 30px;
    }
  }
}
