.main_head {
  width: 100%;
  height: 400px;
  z-index: -1;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.main_body {
  &--title {
    @include flexspace;
    & h1 {
      margin-left: 40px;
      font-family: "Shrikhand";
      font-weight: lighter;
      letter-spacing: 1px;
    }
  }
}

.body_icone {
  margin-right: 20px;
  cursor: pointer;
  & .full {
    position: absolute;
    top: 44px;
    color: transparent;
    transition: 400ms;
    &:hover {
      color: $color-secondary;
    }
  }
}

main {
  background: $background_location;
  position: relative;
  top: -40px;
  border-radius: 30px 30px 0 0;
}

.choice {
  margin-bottom: 40px;
  &_box {
    @include columncenter;
    gap: 20px;
  }
  &_title {
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 20px;
    border-bottom: 2px solid $light_green;
    width: 40px;
    color: $color_icon;
    letter-spacing: 1px;
    line-height: 2px;
  }
  &_card {
    background-color: white;
    box-shadow: 0 2px 5px $color_icon;
    border-radius: 20px;
    width: 90%;
    height: 100px;
    margin: auto;
    @include flexspace;
    cursor: pointer;
    transition: 200ms;
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 5px 0 black;
    }
    &-body {
      margin-left: 20px;
      line-height: 7px;
      & strong {
        font-size: 1.4rem;
      }
      & .body_litle {
        font-size: 1rem;
      }
    }
    &-price {
      display: flex;
      align-items: center;
      margin-right: 20px;
      cursor: pointer;
      & p {
        font-weight: bold;
      }
    }
  }
}
