$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$border_color: gray;
$background_location: #f3f3f3;
$color_location: #7a7a7a;
$background_legend: #fafafa;
$background_function: #f6f6f6;
$color_icon: #7e7e7e;
$background_footer: #353535;

$light_function: lighten($color-primary, 35%);
$light_green: lighten($color-tertiary, 2%);
$darken_green: darken($color-tertiary, 50%);
